<script>

const ws = new WebSocket('ws://192.168.0.41:8080')
ws.onopen = () => {
  console.log('ws opened on browser')
  ws.send('hello world')
}

ws.onmessage = (message) => {
  	console.log(`message received`, message.data)
	new Notification('Title', { body: message.data });
}
</script>


<p><input type="text" placeholder="Text"> <button onclick="showNotification()">Show a Notification</button></p>

<script>
	function showNotification() {
		if(window.Notification) {
			Notification.requestPermission(function(status) {
				console.log('Status: ', status);
				ws.send(document.querySelector("input").value)
			});
		}
		else {
			alert('Your browser doesn\'t support notifications.');
		}
	}
</script>
